CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="dx413gkjbu1fnsbw"
CONFIG_ENABLE_CHAT_DISPLAY2=y
CONFIG_ENABLE_GUI2_CHATBOT=y
CONFIG_ENABLE_LANGUAGE_ENGLISH=y
CONFIG_ENABLE_APP_OPUS_ENCODER=y
CONFIG_ENABLE_BATTERY=y
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_WAVESHARE_T5AI_TOUCH_AMOLED_1_75=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_AI_INPUT_STACK_SIZE=40960
CONFIG_AI_INPUT_RINGBUF_SIZE=65536
CONFIG_AI_OUTPUT_RINGBUF_SIZE=65536
CONFIG_ENABLE_TUYA_CODEC_OPUS=y
# CONFIG_ENABLE_TUYA_CODEC_OPUS_IPC is not set
CONFIG_LVGL_ENABLE_TP=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_MONTSERRAT_48=y
